<div style=" display: flex; flex-direction: column;">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Filtering options</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <!-- filter -->
      <div>

        <mat-form-field>
          <input matInput type="text" placeholder="Full text search" [(ngModel)]="filter.fullTextSearch" autocomplete="off">
          <button mat-button *ngIf="filter.fullTextSearch" matSuffix mat-icon-button aria-label="Clear" (click)="filter.fullTextSearch=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <chaos-select
          [options]="interests"
          [values]="filter.interests"
          [optionToString]="itemToString"
          placeholder="Interests ({{interests.length}})"
        ></chaos-select>

        <chaos-select
          [options]="jobs"
          [values]="filter.jobs"
          [optionToString]="itemToString"
          placeholder="Jobs ({{jobs.length}})"
        ></chaos-select>

        <chaos-select
          [options]="names"
          [values]="filter.names"
          [optionToString]="itemToString"
          placeholder="Names ({{names.length}})"
        ></chaos-select>
      </div>
      <!--^^filter^^-->

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="applyFilter()">Apply</button> Displaying {{users.length}} users
    </mat-card-actions>
  </mat-card>

  <mat-card *ngFor="let user of users" style="margin-top: 1em">
    <mat-card-header>
      <mat-card-title><a target="_blank" href="https://badoo.com/profile/{{user.id}}?from=search">{{user.name}}</a> - {{user.largePhotoUrls.length}} photos</mat-card-title>
    </mat-card-header>

    <mat-card-content style="margin-top: 1em">
      <a *ngFor="let photoUrl of user.largePhotoUrls" target="_blank" href="https://badoo.com/profile/{{user.id}}?from=search">
          <img style="width: 30em; margin: 0.1em" mat-card-image src="{{photoUrl}}" alt="{{user.name}}">
      </a>
      <pre>{{user | json}}</pre>
    </mat-card-content>
  </mat-card>


</div>
